main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 8px;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
thead tr {
  background-color: #219ebc;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

table tbody tr {
  background-color: #f3f3f3;
}

table tbody tr:nth-child(even) {
  background-color: #bddeed;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
